@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

header {
    box-shadow: none !important;
}

/* ----------------------------------- */
.swiper {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top:15px;
    top: 0;
    left: 0;
    right: 0;
}

.swiper-slide.slide-1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.swiper-slide {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide .swiper-container {
    width: 80%;
}

.swiper-container .typeMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    color: yellow;
}

.swiper-container .typeMenu .line {
    height: 30px;
    width: 1px;
    background-color: black;
}

.swiper-container .typeMenu p {
    color: #ffffff;
    font-size: 1.2rem;
}

.swiper-container .movie-titleMenu {
    width: 60%;
    margin-top: 3rem;
}

.swiper-container .movie-titleMenu h2 {
    color: #fff;
    font-size: 67px;
    font-weight: bold;
    margin-top: -13px;
}

.swiper-container .movie-titleMenu p {
    color: #f0eaea;
    font-weight: 300;
    margin-top: 1rem;
    font-size: 18px;
    text-align: justify;
}

.swiper-container .movie-rating {
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.swiper-container .movie-rating p, .movie-btnMenu p {
    color: red;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
}

.swiper-container .movie-rating span, .movie-titleMenu p span, .movie-btnMenu p span {
    color: gold;
}

.popup span {
    color: rgb(186, 164, 38);
}

.swiper-container .movie-rating .rect {
    margin-left: 5px;
    border: 1px solid #fff;
    padding: 0.6rem;
    width: 38px;
    height: 40px;
}

.swiper-container .movie-rating .rect p {
    margin-top: 1px;
}

.swiper-container .movie-btnMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.movie-btnMenu .btn-1 {
    border: 2px solid gold;
    width: 175px;
    height: 45px;
    background-color: transparent;
    color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    /* border: none; */
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1.1px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.movie-btnMenu .btn-1:hover {
    border: none;
    background-color: gold;
    color: #fff;
}

@media(max-width:1200px) {
    .swiper-container {
        width: 50%;
    }

    .swiper-container .typeMenu p {
        font-size: 0.9rem;
    }

    .swiper-container .typeMenu .line {
        height: 15px;
    }

    .swiper-container .movie-titleMenu {
        width: 95%;
    }

    .swiper-container .movie-titleMenu h2 {
        font-size: 1.4rem;
    }

    .swiper-container .movie-titleMenu p {
        font-size: 0.75rem;
    }

    .swiper-container .movie-rating {
        width: 85%;
    }

    .swiper-container .movie-rating p {
        font-size: 0.8rem;
    }

    .movie-btnMenu .btn-1 {
        width: 125px;
        height: 30px;
        font-size: 0.8rem;
    }
}



.imgModal img {
    max-width: 100%;
}

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    right: 0;
    transition: 0.65s ease-in-out;
}

.popup_inner {
    display: flex;
    align-items: center;
    position: relative;
    width: 900px;
    height: 600px;
    background-color: rgb(22, 22, 25);
    border-radius: 1rem;
    overflow: hidden;
    bottom: -100vw;
    right: -100vh;
    transform: rotate(90deg);
    transition: 0.65s ease-in-out;
}

.popup_inner h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    color: white;
}

.contentModal .titleSmall {
    text-align: center;
    color: gray;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.popup_inner p {
    color: gray;
    line-height: 1.5rem;
    text-align: justify;
    margin-top: 20px;
}

.popup_inner .imgModal {
    height: 100%;
    width: 45%;
}

.popup_inner .imgModal img {
    height: 100%;
    object-fit: cover;
}

.popup_inner .contentModal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
    height: 65%;
    padding: 2.5rem;
}

.popup_inner .close_popupModal1 {
    position: absolute;
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    background-color: black;
    color: #fff;
    line-height: 3.5rem;
    top: -20.4rem;
    right: -20.4rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(90deg);
    transition: 0.8s ease-in-out;
    transition-delay: 1s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup_inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}

.popup:target .popup_inner .close_popupModal1 {
    top: 0.5rem;
    right: 0.5rem;
    transform: rotate(0);
}

.popup a {
    text-decoration: none;
}

/**Review*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.containerReview {
    margin-top: 730px;
    margin-bottom: -30px;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviewItem .topReview .clientImage span {
    color: rgb(203, 203, 54);
    font-weight: bold;
}

.clientImage img {
    width: 40px;
}

.reviewSection {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.reviewItem {
    width: 600px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #10102a;
    border: 1px solid #10102a;
    transition: all .2s linear;
    padding: 30px 20px;
}

.reviewItem:hover {
    border-color: yellow;
    transform: scale(1.01);
    background-color: #090921;
    box-shadow: 0 0px 5px 0px #cbc0c0;
}

.checked {
    color: rgb(232, 232, 30);
}

.review {
    color: rgb(183, 181, 181);
}

.review1 {
    color: white;
}

.topReview {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topReview ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.topReview ul li {
    padding-left: 5px;
}

article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: system-ui;
    padding: 0px 40px;
}


@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .topReview {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:1375px) {
    .reviewItem {
        width: 300px;
    }
}

.containerReview .section-title {
    margin-top: 780px;
    text-align: center;
    margin-bottom: -50px !important;
    color: var(--white);
    line-height: 1.2;
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.containerReview .section-title strong {
    color: var(--citrine);
}

.btn-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}

.time-item {
    display: none;
}
