.content-div {
    margin: 180px auto 0;
    height: 450px;
    width: 40%;
    background-color: #17171c;
}

.content-div > h2 {
    width: 100%;
    text-align: center;
    color: #ecd261;
    padding-top: 10px;
}

.group {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.staff-input {
    width: 45%;
    float: left;
    padding-left: 20px;
}

.staff-input input, .staff-input select {
    width: 70%;
}

.staff-input input, .staff-input select, .staff-input select * {
    color: black;
}


div.group > div > .staff-input {
    width: 100%;
}

.staff-input * {
    color: #ecd261;
}

.staff-input span {
    width: 100%;
    display: block;
}

.bottom-side {
    width: 100%;
    float: left;
}

.btnFinish, .cancelAction {
    background-color: #ecd261;
    border: none;
    width: 25%;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    margin-left: 15%;
    margin-top: 40px;
    cursor: pointer;
}

.btnFinish:hover, .cancelAction:hover {
    background-color: #ebda76;
}

.hiddenPanel {
    width: 400px;
    height: 120px;
    position: absolute;
    top: 40%;
    left: 37%;
    border: none;
    background-color: #8b8672;
    border-radius: 10px;
}

.hiddenPanel h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.btnConfirm, .btnCancel {
    width: 25%;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    height: 30px;
    border-radius: 10px;
    margin-top: 40px;
}

.btnConfirm {
    margin-left: 10%;
    background-color: #2ec92e;
    margin-top: 20px;
}

.btnConfirm:hover {
    background-color: #51e451;
}

.btnConfirm:active {
    background-color: green;
}

.btnCancel {
    margin-left: 30%;
    background-color: red;
}

 .btnCancel:hover {
    background-color: #f14747;
}

  .btnCancel:active {
    background-color: #a70202;
}
