.all-content {
    margin-top: 150px;
}

.all-content h2 {
    width: 100%;
    text-align: center;
    color: #ecd261;
    text-transform: uppercase;
}

.btnAdd {
    background-color: #ecd261;
    border: none;
    width: 10%;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    float: right;
    margin-right: 5%;
}

.staff-div {
    width: 90%;
    margin: 20px 5%;
    border-radius: 20px;
    border: none;
    background-color: #17171c;
    height: 50px;
}

.staff-div img {
    float: left;
    margin: 10px 10px 0 10px;
}

.staff-div span {
    float: left;
    width: 14%;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: bolder;
    color: #ecd261;
}

.deletePanel {
    width: 400px;
    height: 120px;
    position: absolute;
    top: 40%;
    left: 37%;
    border: none;
    background-color: #8b8672;
    border-radius: 10px;
}

.deletePanel h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.btnEdit, .btnDelete {
    border: none;
    width: 8%;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 25px;
}

.btnConfirm, .btnCancel {
    width: 25%;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    height: 30px;
    border-radius: 10px;
    margin-top: 40px;
}

.btnConfirm {
    margin-left: 10%;
}

.btnCancel {
    margin-left: 30%;
}

.btnEdit, .btnConfirm {
    background-color: #2ec92e;
}

.btnEdit:hover, .btnConfirm:hover {
    background-color: #51e451;
}

.btnEdit:active, .btnConfirm:active {
    background-color: green;
}

.btnDelete, .btnCancel {
    background-color: red;
}

.btnDelete:hover, .btnCancel:hover {
    background-color: #f14747;
}

.btnDelete:active, .btnCancel:active {
    background-color: #a70202;
}