div#form-content {
    width: 916.67px;
    height: 680px;
    margin: 180px auto;
}

div.ticket {
    width: 100%;
    height: 100%;
}

div.left-side {
    width: 266.67px;
    height: 540px;
    float: left;
    box-shadow: -5px 5px 10px 0px #575757;
}

div.movie-detail {
    width: 266.67px;
    height: 400px;
    float: left;
    transition: 0.5s ease;
}

img.movie-image {
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

div.movie-desc {
    position: relative;
    top: -85%;
    left: 10%;
    opacity: 0;
    transition: 0.5s ease;
    color: white;
}

div.movie-desc span {
    height: 25px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

div.movie-desc span img {
    float: left;
    margin-right: 5px;
}

div.movie-detail:hover img.movie-image {
    filter: blur(5px);
}

div.movie-detail:hover div.movie-desc {
    opacity: 1;
}

div.total-price {
    background-color: #bea228;
    width: 266.67px;
    height: 140px;
    float: left;
}

div.total-price span {
    display: block;
    width: 100%;
    margin-left: 20px;
}

span.lblTotalPrice {
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    color: #5f5a5c;
}

span.txtTotalPrice {
    font-weight: bolder;
    font-size: 36px;
    color: #ede4e7;
}

span.t-and-c {
    font-size: 12px;
    margin-top: 10px;
    color: #7c7177b5;
}

div.right-side {
    width: 650px;
    height: 640px;
    float: left;
}

div.payment-detail {
    background-color: white;
    width: 650px;
    height: 540px;
    float: left;
    box-shadow: -4px 4px 8px #5f5656;
    border-radius: 0px 10px 0px 0px;
}

div.payment-method {
    margin: 20px auto;
    width: 90%;
}

span.payment-text {
    color: #ecd261;
    font-weight: bolder;
    font-size: 18px;
}

div.payment-choice {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

div.payment-choice > button {
    width: 250px;
    height: 100px;
    border: 1px solid grey;
    margin-right: 25px;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

div.payment-choice button img {
    margin: 10px auto;
    display: block;
}

div.payment-choice > button img:hover {
    filter: grayscale(0%);
}

.deselected {
    filter: grayscale(100%);
}

.selected {
    box-shadow: 2px 2px 5px grey;
}

div.tngInfo, div.cardInfo {
    margin-top: 20px;
    display: none;
}

div.payment-input {
    width: 100%;
    height: 50px;
}

div.tngInfo > div, div.cardInfo > div {
    margin-top: 20px;
    float: left;
}

div.phoneNum-div {
    width: 585px;
}

div.pin-div {
    width: 585px;
}

div.tngInfo div div input {
    height: 100%;
    float: left;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
}

div.phoneNum-div div input:first-child {
    margin-right: 5px;
    width: 170px;
}

div.phoneNum-div div input:nth-child(2) {
    margin-right: 25px;
    width: 350px;
}

div.pin-div > div.payment-input {
    height: 100px !important;
}

div.pin-div div input {
    width: 83.33px;
    margin-right: 5px;
    padding-left: 25px !important;
    font-size: 40px !important;
}

div.pin-div div input:nth-child(6) {
    margin-right: 25px !important;
}

div.name-div {
    width: 585px;
}

div.cardNo-div {
    width: 360px;
    margin-right: 25px;
}

div.CVV-div {
    width: 200px;
}

div.expire-div {
    width: 360px;
}

div.cardInfo div div input, div.cardInfo div div select {
    margin-right: 25px;
    height: 100%;
    float: left;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
}

div.name-div div input {
    width: 525px;
}

div.cardNo-div div input {
    width: 300px;
}

div.CVV-div div input {
    width: 140px;
}

div.expire-div div select:first-child {
    width: 100px;
}

div.expire-div div select:nth-child(2) {
    width: 175px;
}

div.checkout {
    width: 650px;
    height: 100px;
    float: left;
}

.payment-button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #40e865;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 15%;
    cursor: pointer;
    transition: 0.5s;
}

.payment-button:hover {
    background-color: #6fe98f;
}

#forward-icon {
    float: right;
    font-size: 30px;
    color: white;
    position: relative;
    top: -65px;
    right: 8%;
}

.timer {
    width: 30%;
    position: relative;
    top: -60px;
    left: 30px;
}

#timer-icon {
    color: white;
    float: left;
    font-size: 20px;
}

.countdown {
    margin-left: 5px;
    font-size: 18px;
    float: left;
    color: white;
    font-weight: bold;
}
