div#form-content {
    width: 916.67px;
    height: 650px;
    margin: 180px auto;
}

div.ticket {
    width: 100%;
    height: 100%;
}

div.left-side {
    width: 266.67px;
    height: 540px;
    float: left;
}

div.movie-detail {
    width: 266.67px;
    height: 400px;
    float: left;
    transition: 0.5s ease;
}

img.movie-image {
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

div.movie-desc {
    position: relative;
    top: -70%;
    left: 15%;
    opacity: 0;
    transition: 0.5s ease;
    color: white;
}

div.movie-detail:hover img.movie-image {
    filter: blur(5px);
}

div.movie-detail:hover div.movie-desc {
    opacity: 1;
}

div.total-price {
    background-color: rgb(212, 70, 44);
    width: 266.67px;
    height: 140px;
    float: left;
}

div.total-price span {
    display: block;
    width: 100%;
    margin-left: 20px;
}

span.lblTotalPrice {
    font-weight: bold;
    margin-top: 25px;
    font-size: 20px;
    color: #d8bbc5;
}

span.txtTotalPrice {
    font-weight: bolder;
    font-size: 36px;
    color: #ede4e7;
}

span.t-and-c {
    font-size: 12px;
    margin-top: 20px;
    color: #d1b2c2b5;
}

div.right-side {
    width: 650px;
    height: 640px;
    float: left;
}

div.payment-detail {
    background-color: white;
    width: 650px;
    height: 540px;
    float: left;
    box-shadow: -4px 4px 8px #5f5656;
    border-radius: 0px 10px 0px 0px;
}

div.payment-method {
    margin: 20px auto;
    width: 90%;
}

span.payment-text {
    color: #ecd261;
    font-weight: bolder;
    font-size: 18px;
}

div.payment-choice {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

div.payment-choice > button {
    width: 250px;
    height: 100px;
    border: 1px solid grey;
    margin-right: 25px;
    float: left;
    cursor: pointer;
    border-radius: 5px;
}

div.validation {
    width: 35px;
    height: 100%;
    float:left;
    background-color: red;
}

div.payment-choice button img {
    margin: 10px auto;
    display: block;
}

.deselected {
    filter: grayscale(100%);
}

.selected {
    box-shadow: 2px 2px 5px grey;
}

div.tngInfo {

}

div.cardInfo {
    margin-top: 30px;
}

div.cardInfo > div {
    margin-top: 25px;
    float: left;
}

div.name-div {
    width: 585px;
}

div.cardNo-div {
    width: 360px;
    margin-right: 25px;
}

div.CVV-div {
    width: 200px;
}

div.expire-div {
    width: 360px;
}

div.payment-input {
    width: 100%;
    height: 50px;
}

div.cardInfo div div input, div.cardInfo div div select {
    margin-right: 25px;
    height: 100%;
    float: left;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
}

div.name-div div input {
    width: 525px;
}

div.cardNo-div div input {
    width: 300px;
}

div.CVV-div div input {
    width: 140px;
}

div.expire-div div select:first-child {
    width: 100px;
}

div.expire-div div select:nth-child(2) {
    width: 175px;
}

div.checkout {
    background-color: green;
    width: 650px;
    height: 100px;
    float: right;
}

.payment-button {
    width: 100%;
    height: 100%;
    border: none;
}
