/*booking.aspx*/
.my-booking-header {
    font-size: 27px;

    color: #fff;

    width: 840px;
    margin: 0 auto;
}

.my-booking-Booking {
    font-size: 37px;
    font-weight: bold;
    color: #fff;
    width: 840px;
    margin: 160px auto 10px auto;
}

.mybooking-container {
    margin: 126px 1.5rem 3rem 1.5rem;
}

.mybooking-container > .card {
    display: flex;
    max-width: 800px;
    margin: 30px auto;
    border-radius: 12px;
    background-color: orange;
    transition: transform 260ms ease-in-out, box-shadow 260ms ease-in-out;
}

.mybooking-container > .card-old {
    filter: contrast(0.6);
}

.mybooking-container > .card:first-child {
    margin-top: 0;
}

.mybooking-container > .card:last-child {
    margin-bottom: 0;
}

.mybooking-container > .card > img {
    vertical-align: middle;
    border-radius: 12px 0 0 12px;
}

.mybooking-container > .card > .card_content {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}

.refund-btn {
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #4A4737;
    font-weight: bold;
    color: #4A4737;
    text-decoration: none;
    text-align: center;
    margin: auto 0 10px 0;
    transition: background-color 160ms ease-in-out, color 160ms ease-in-out, transform 160ms ease-in-out, border 160ms ease-in-out;
}

.refund-btn:hover {
    border: none;
    color: #fff;
    background-color: #4A4737;
    box-shadow: -10px 3px 61px -20px rgba(0,0,0,0.87);
}

.refund-btn:active {
    border: none;
    transform: scale(0.95);
    color: #fff;
    background-color: #4A4737;
    box-shadow: -10px 3px 61px -20px rgba(0,0,0,0.87);
}

.mybooking-container > .card:hover,
.mybooking-container > .card:active {
    transform: scale(1.01);
    box-shadow: -10px 3px 61px -20px rgba(0,0,0,0.87);
}

/*BookingDetail.aspx*/
.mybooking-container > .mov-details {
    display: flex;
    max-width: 1250px;
    margin: 180px auto 0 auto;
}

.mybooking-container > .mov-details > img {
    border-radius: 12px;
    vertical-align: middle;
}

.mybooking-container > .mov-details > .mov-content {
    border-radius: 12px;
    vertical-align: middle;
    color: #fff;
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mybooking-container > .mov-details > .mov-content p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 2.3rem;
}



.mybooking-container > .mov-details > .mov-content > div.col {
    display: flex;
}

.mybooking-container > .mov-details > .mov-content p > span::before {
    content: ": "
}

.mybooking-container > .mov-details > .mov-content > .btn-group {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    margin: auto 0 0 0;
}

.mybooking-container > .mov-details > .mov-content > .btn-group > .btn {
    appearance: none;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: auto 0 10px 0;
    transition: background-color 160ms ease-in-out, transform 160ms ease-in-out;
}

.mybooking-container > .mov-details > .mov-content > .btn-group > .btn.print {
    color: blue;
    background-color: transparent;
    font-size: 1.1rem;
    text-decoration: underline;
    cursor: pointer;
}

.mybooking-container > .mov-details > .mov-content > .btn-group > .btn.cancel {
    background-color: #b80600;
}

.mybooking-container > .mov-details > .mov-content > .btn-group > .btn.cancel:hover {
    background-color: #920500;
    box-shadow: -10px 3px 61px -20px rgba(0,0,0,0.87);
}

.mybooking-container > .mov-details > .mov-content > .btn-group > .btn.cancel:active {
    transform: scale(0.95);         
    background-color: #7b0400;
    box-shadow: -10px 3px 61px -20px rgba(0,0,0,0.87);
}

.mybooking-container > .mov-details > .mov-content > .btn-group > .btn.print:active {
    transform: scale(0.95);
    box-shadow: -10px 3px 61px -20px rgba(0,0,0,0.87);
}

/*Cancel&Refund*/

.cancel-container {
    display: flex;
}

.cancel-container > .cancel-center {
    margin: 250px auto 150px auto;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.cancel-container > .cancel-center > .cancel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 30px;
    border-radius: 12px;
    padding: auto;
}
.cancel-container > .cancel-center > .cancel-content > .cancel-step{
    color: #FFB346;
    font-size: 1.5rem;
}
        

.cancel-container > .cancel-center > .cancel-content > .cancel-refund > .row > p {
    width: 100%;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #E8FCFF;
    margin: auto 10px;
}

.cancel-container > .cancel-center > .cancel-content > .cancel-refund > .row {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.cancel-container > .cancel-center > .cancel-content > .cancel-refund > .row > * {
    flex : 1;
}

.cancel-container > .cancel-center > .cancel-content > .cancel-refund > .row > .refundReason {
    font-size: 1.1rem;
    padding: 5px;
}

.cancel-container > .cancel-center > .cancel-content > .cancel-refund > .row > .refundState {
    resize: none;
    height: 200px;
    width: 450px;
    font-size: 18px;
    padding: 5px;
}



.cancel-container > .cancel-center > .cancel-content > .cancel-refund {
    margin: 30px auto;
}

.cancel-next {
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #D3FBD8;
    font-size: 26px;
    color: #D3FBD8;
    text-decoration: none;
    text-align: center;
    transition: background-color 160ms ease-in-out, color 160ms ease-in-out, transform 160ms ease-in-out, border 160ms ease-in-out;
}

/*Completed page*/
.confirm-container {
    display: flex;
}

.confirm-content > img {
    padding-bottom: 10px;
}

.confirm-container > .confirm-center {
    margin: 250px auto 150px auto;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.confirm-container > .confirm-center > .confirm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 30px;
    border-radius: 12px;
    z-index: 1;

}

.confirm-container > .confirm-center > .confirm-content > .confirm-step {
    color: #FFB346;
    font-size: 1.5rem;
}


.confirm-container > .confirm-center > .confirm-content > .confirm-refund > .row > p {
    width: 100%;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #E8FCFF;
    margin: auto 10px;
}

.confirm-container > .confirm-center > .confirm-content > .confirm-refund > .row {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.confirm-container > .confirm-center > .confirm-content > .confirm-refund > .row > * {
    flex: 1;
}

.confirm-container > .confirm-center > .confirm-content > .confirm-refund > .row > .refundReason {
    font-size: 1.1rem;
}

.confirm-container > .confirm-center > .confirm-content > .confirm-refund > .row > .refundState {
    resize: none;
    height: 200px;
    width: 450px;
}


.confirm-container > .confirm-center > .confirm-content > .confirm-refund {
    margin: 30px auto 10px auto;
}

.confirm-container > .confirm-center > .confirm-content > .terms {
    margin-bottom: 10px;
}

.confirm-container > .confirm-center > .confirm-content > .terms > p {
    color: red;
    font-size: 1.1rem;
    padding: 10px
}

.confirm-container > .confirm-center > #submitRefund {
    z-index: 1;
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #D3FBD8;
    font-size: 26px;
    color: #D3FBD8;
    text-decoration: none;
    text-align: center;
    transition: background-color 160ms ease-in-out, color 160ms ease-in-out, transform 160ms ease-in-out, border 160ms ease-in-out;
}

#popUpContainer {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Add this line to center the content horizontally */
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

#popUpContainer.show {
    pointer-events: auto;
    opacity: 1;
    display: block;
}

.popUpMes {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    text-align: center;
    margin-left: 470px;
    margin-top: 400px;
}


.popUpMes > h1 {
    margin: 0;
    color: red;
}

.popUpMes > p {
    font-size: 14px;
    opacity: 0.7;
}

